body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    max-width: 1300px;
}

.row {
  display: flex;
  margin-bottom: 4px;
}

.row img {
  display: block;
  object-fit: cover;
  padding: 0px 2px;
  border-radius: 4px;
}
